@media screen and (max-width: 767px) {




    /* ================HEADER================================ */


    .container-header {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .link-all {
        display: none;
    }

    .address-list {
        display: none;
    }


    /* ============================HERO======================= */

    .hero {
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mobile.jpg);
        max-width: 1440px;
        margin: 0 auto;
    }


    @media (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images-2x/people-office-2x.jpg);
        }
    }

    .title-one {

        font-size: 36px;
        line-height: 1.11;

    }


    /* =====================Section 2============================ */

    .section-feature {
        padding-top: 96px;
        padding-bottom: 96px;

    }

    .container-feature {
        flex-direction: column;
        row-gap: 72px;
    }

    .li-feature {
        width: 100%;
    }

    .icons {
        display: none;
    }

    .title-three-feature {

        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        text-align: center;
    }

    .title-par-feature {
        font-weight: 500;
    }


    /* ====================Section 3------Team================== */

    .section-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-team-ul {
        flex-direction: column;
        row-gap: 72px;
        align-items: center;
    }


    /* ============Section 4 ------PORTFOLIO================== */

    .section-portfolio {
        padding-top: 96px;
        padding-bottom: 96px;
        flex-direction: column;
        row-gap: 48px;
        align-items: center;
    }


    .port-li {
        width: 288px;
    }



    /* ===============FOOTER================================= */

    .page-footer {
        padding: 96px 0;
    }

    .container-footer {
        display: block;
        flex-direction: column;
    }

    .fofo {
        margin-right: 0;
    }

    .webstudio-down {
        margin-bottom: 17px;
        text-align: center;
    }

    .footer-p {
        margin: 0 auto;
    }

    .studio-down {
        color: #f4f4fd;
    }

    /* -------------------------2 block-------------------------- */

    .footer-social {
        display: block;
        text-align: center;
    }

    /* -----------------------3 block ----------------------------*/

    .label-div {
        margin-left: 0;
        text-align: center;
        margin-top: 72px;

    }

    .footer-form {
        display: block;

    }

    .footer-input {
        width: 100%;
    }

    .button-footer {
        margin: 0 auto;
        margin-top: 16px;
    }

    /* ================MODAL=============================== */

    /* ------------------------------------------ */

    .form-hidden {
        width: 288px;
        min-height: 623px;
    }


}